
@font-face {
    font-family:"SukhumvitSet-SemiBold";
    src:url("SUKHUMVITSET-SEMIBOLD.woff2") format("woff2"),url("SUKHUMVITSET-SEMIBOLD.woff") format("woff"),url("SUKHUMVITSET-SEMIBOLD.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        