
@font-face {
  font-family: 'KittithadaMedium65';
  src: url('KittithadaMedium65.eot?#iefix') format('embedded-opentype'),  url('KittithadaMedium65.otf')  format('opentype'),
	     url('KittithadaMedium65.woff') format('woff'), url('KittithadaMedium65.ttf')  format('truetype'), url('KittithadaMedium65.svg#KittithadaMedium65') format('svg');
  font-weight: normal;
  font-style: normal;
}
