
@font-face {
    font-family:"SukhumvitSet";
    src:url("SukhumvitSet-SemiBold.woff2") format("woff2"),url("SukhumvitSet-SemiBold.woff") format("woff"),url("SukhumvitSet-SemiBold.otf") format("opentype");
    font-style:normal;
    font-weight:normal;
}
        
